/*No sabía como comentar en CSS: https://www.w3schools.com/css/css_comments.asp*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    /*Cambiar orientación del header de columna a fila*/
    /*https://developer.mozilla.org/es/docs/Web/CSS/Reference/Properties/flex-direction*/
    display:flex;
    flex-direction: row;
    /*Enderezar los botones con respecto al nombre de la empresa*/
    justify-content: space-between;
    align-items: center;
}

.seccion_izquierda {
    display:flex;
    margin-left: 12px;
}
.seccion_central {
    display:flex;
}
.seccion_derecha {
    display:flex;
    margin-right:12px
}

.boton_seccion_central {
    margin:6px;
    
}

.boton_seccion_derecha {
    margin:6px;
}

.boton_header {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right:15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    border-color: white;
    border-width: 0;
}

.boton_header:hover {
    /*Hover es una propiedad de animación (pseudoclase en realidad), establece que es lo que sucede cuando "se pasa el mouse por encima"*/
    /*https://www.w3schools.com/css/css3_buttons_hover.asp*/
    background-color: lightgray;
    transition-duration: 0.2s;
}

.boton_header:active {
    /*Pseudoclase active para animar botones, recuperado de w3schools*/
    /*https://www.w3schools.com/css/css_pseudo_classes.asp*/
    background-color: gray;
    transition-duration: 0.1s;
}

.boton_inicio_sesion {
    background-color: rgb(1, 66, 1);
    color: white;
}

.boton_inicio_sesion:hover {
    background-color: darkgreen;
    transition-duration: 0.2s;
}

.boton_inicio_sesion:active {
    background-color: green;
    transition-duration: 0.1s;
}




