/*No sabía como comentar en CSS: https://www.w3schools.com/css/css_comments.asp*/
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    /*Cambiar orientación del header de columna a fila*/
    /*https://developer.mozilla.org/es/docs/Web/CSS/Reference/Properties/flex-direction*/
    display:flex;
    flex-direction: row;
    /*Enderezar los botones con respecto al nombre de la empresa*/
    justify-content: space-between;
    align-items: center;
}
.logo {
    /*Logo ajustado, resize*/
    /*https://stackoverflow.com/questions/3380252/how-to-create-proportional-image-height-width*/
    max-width: 150px;
    height: auto;

}

.titulo_empresa {
    color: rgb(1, 66, 1)
}
.seccion_izquierda {
    display:flex;
    margin-left: 12px;
}

.seccion_central {
    display:flex;

}
.seccion_derecha {
    display:flex;
    margin-right:12px
}

.boton_seccion_central {
    margin:6px;
    
}

.boton_seccion_derecha {
    margin:6px;
}

.boton_header {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size:large;
    color:rgb(1, 66, 1);
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right:15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    border-color: white;
    border-width: 0;
}

.boton_header:hover {
    /*Hover es una propiedad de animación (pseudoclase en realidad), establece que es lo que sucede cuando "se pasa el mouse por encima"*/
    /*https://www.w3schools.com/css/css3_buttons_hover.asp*/
    background-color: lightgray;
    transition-duration: 0.2s;
}

.boton_header:active {
    /*Pseudoclase active para animar botones, recuperado de w3schools*/
    /*https://www.w3schools.com/css/css_pseudo_classes.asp*/
    background-color: gray;
    transition-duration: 0.1s;
}

.icono_moneda {
    max-width: 40px;
    height: 40px;
    margin-top: 15px;
}
.boton_inicio_sesion {
    background-color: rgb(1, 66, 1);
    color: white;
}

.boton_inicio_sesion:hover {
    background-color: darkgreen;
    transition-duration: 0.2s;
}

.boton_inicio_sesion:active {
    background-color: green;
    transition-duration: 0.1s;
}

.main_titulo {
    display:flex;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    color: rgb(1, 66, 1)
}
.main_busqueda_personalizada {
    /*Para dejar los elementos de forma horizontal: flex*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    margin-left: 450px;
    margin-right:450px;
    color:rgb(1, 66, 1);
    
}

.parrafo_main_busqueda_personalizada:hover {
    /*Subrayar al pasar el mouse por encima, recuperado de:*/
    /*https://stackoverflow.com/questions/22674633/text-that-shows-an-underline-on-hover*/
    text-decoration: underline;
}

.seccion_busqueda {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:350px;
    margin-right: 350px;
    margin-bottom: 60px;
}

.icono_busqueda_lupa {
    max-width: 40px;
    height: auto;
}
.barra_busqueda {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(243, 242, 242);
    flex-grow: 2;
    width:690px;
    height:48px;
    margin-top:12px;
    margin-bottom:12px;
    padding-left:20px;
    border-radius: 48px;
    border:none;
    /*Sombra en la barra de búsqueda, no recordaba muy bien como hacerlo así que lo busqué*/
    /*https://generatepress.com/forums/topic/enable-box-shadow-on-search-bar/*/
    box-shadow: 2px 2px 12px rgba(0, 0, 0, .4);
}

.boton_buscar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size:large;
    color:rgb(1, 66, 1);
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:15px;
    padding-right:15px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(2, 245, 83);
    border-width: 1;
    border-color:rgb(1, 66, 1)
}

.boton_buscar:hover {
    background-color: rgb(0, 211, 70);
    transition-duration: 0.2s;
}

.boton_buscar:active {
    background-color: rgb(0, 184, 61);
    transition-duration: 0.1s;
}

.seccion_reserva {
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgb(2, 245, 83);
    color: rgb(1, 66, 1);
    margin-left: 60px;
    margin-right: 60px;
}

.imagen_seccion_reserva_izquierda {
    width:600px;
    height:400px;
    border-radius: 10px;
    margin:15px;
}
.seccion_reserva_derecha {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    justify-items: center;
}

.seccion_reserva_derecha_boton_reserva {
    background-color: rgb(1, 66, 1);
    color: white;
    margin-bottom: 50px;
}

.seccion_reserva_derecha_boton_reserva:hover {
    background-color: rgb(0, 184, 61);
    transition-duration: 0.2s;
}

.seccion_reserva_derecha_boton_reserva:active {
    background-color: rgb(0, 211, 70);
    transition-duration: 0.1s;
}